@tailwind base;

@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.new-trade__input {
  @apply h-8 bg-custom-dark-sea-green border-b-2 border-custom-lighter-purple;
}

.new-trade__input:focus {
  @apply border-custom-dark-purple;
}

@tailwind utilities;
